.feed{
    flex:5.5
}
.feedWrapper{
    padding:20px;
    
}

.share{
    width:100%;

    border-radius:10px;
    -webkit-box-shadow: 0px 1px 16px -8px rgba(0,0,0,0.68);
    box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
}

.shareWrapper{
    padding:10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareProfileImg{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right:10px;
}

.shareInput{
    border:none;
    width:99%;
    background:transparent;
    color: black;
    height: 2.5rem;
    border:1px solid rgb(227, 212, 212);
    padding-left: 5px;
    /* padding-top: 10px; */
    border-radius: 0.4rem;

}
.shareInput1{
    border:none;
    width:99%;
    background:transparent;
    color: black;
    height: 3.5rem;
    border:1px solid rgb(227, 212, 212);
    padding-left: 5px;
    /* padding-top: 10px; */
    border-radius: 0.4rem;

}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 5px;;

}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
display: flex;
margin-left: 8px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}
.shareOptionText{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.shareButton{
    border:none;
    padding:6px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
  
    color: #fff;
    cursor: pointer;
    /* float: right; */
    margin-left: 90%;
    margin-bottom: 2%;
}
.shareImgContainer{
    padding:0 50px 20px 50px;
    position: relative;
}
.shareImg{
    width:100%;
    object-fit: cover;
    height:50%;

}
.shareCancelImg{
    position: absolute;
    top:0;
    right:50px;
    cursor:pointer;
    opacity: 0.7;
}
.shareCancelImg1{
   
transform: scale(0.7);
cursor: pointer;
margin-right: -12px;
margin-top: -28px;
}

.videoreactcontrolbar {
    display: flex;
    /* float: right; */
    justify-content: flex-end;
    margin-left: 5px;
  }
  
  .videoreactspeedcontrol {
    margin-left: auto;
  }